*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;;
}

.logo{
    display: flex;
    align-items: center;
}

main{
    background-color: #7FFFD4;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    height: 40px;
}

main .grid-wrapper{
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
}

.grid-wrapper .square{
    /* width: calc(100% / 7);
    height: calc(100% / 7); */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}