*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;;
}

.logo{
    display: flex;
    align-items: center;
}

main{
    background-color: #7FFFD4;
    padding: 20px;
    flex-grow: 1;
}

footer{
    height: 40px;
}